Source: vaulte
Section: utils
Priority: optional
Maintainer: Gea-Suan Lin (PPA) <gslin@gslin.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7
Homepage: https://github.com/gslin/vaulte
Vcs-Git: https://github.com/gslin/vaulte.git
Vcs-Browser: https://github.com/gslin/vaulte

Package: vaulte
Architecture: all
Depends: liblwp-protocol-https-perl, libwww-mechanize-perl, perl
Description: Export HashiCorp Vault secrets to environment variables via AppRole.
